[data-theme="dark"] #article-container a:hover {
    text-decoration: none;
    background-color: #FF7242;
    color: #ffffff;
    border-radius: 8px;
}

[data-theme="dark"] #article-container a {
    text-decoration: underline;
}

