@keyframes index-link-active {
    0% {
        /* transform: perspective(2000px) rotateX(0) rotateY(0) translateZ(0); */
        transform: rotateX(0) rotateY(0) translateZ(0);
    }

    16% {
        /* transform: perspective(2000px) rotateX(10deg) rotateY(5deg) translateZ(32px); */
        transform: rotateX(10deg) rotateY(5deg) translateZ(32px);
    }

    100% {
        /* transform: perspective(2000px) rotateX(0) rotateY(0) translateZ(65px); */
        transform: rotateX(0) rotateY(0) translateZ(65px);
    }

}

/* 文章卡片 或者>.recent-post-info*/
/* #recent-posts>.recent-post-item:hover {
    animation: index-link-active 1s cubic-bezier(0.315, 0.605, 0.375, 0.925) forwards !important;
} */

/* 侧边栏 */
#aside-content .card-widget:hover {
    animation: index-link-active 1s cubic-bezier(0.315, 0.605, 0.375, 0.925) forwards !important;
    /* color:rgba(57, 197, 187, 0.7) */
}

