@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(https://cdn.cbd.int/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
    font-display: swap;
    font-weight: lighter
}

.ff_aa {
    font-family: ZhuZiAYuanJWD !important
}

@font-face {
    font-family: font12321;
    src: url(coin/HYTangMeiRen.woff2);
    font-display: swap;
    font-weight: lighter
}

.ff_bb {
    font-family: font12321 !important
}

@font-face {
    font-family: SmileySans;
    src: url(coin/SmileySans-Oblique.ttf.woff2);
    font-display: swap;
    font-weight: lighter
}

.ff_cc {
    font-family: SmileySans !important
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    -webkit-animation: ccc 1.6s linear infinite;
    animation: ccc 1.6s linear infinite
}

@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

@keyframes ccc {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}

#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -.23rem
}

#content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -.12rem
}

#content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: .95rem;
    margin-top: -.09rem
}

#content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: .8rem;
    margin-top: -.09rem
}

#content-inner.layout h5::before {
    color: #57c850;
    margin-left: -.9rem;
    font-size: .7rem;
    margin-top: 0
}

#content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -.9rem;
    font-size: .66rem;
    margin-top: 0
}

#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
    color: #425aef
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
    color: #425aef;
    -webkit-animation: ccc 3.2s linear infinite;
    animation: ccc 3.2s linear infinite
}

#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite
}

.aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    margin: 3% auto;
    text-align: center
}

.aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

#aside-content .aside-list>.aside-list-item .content>time {
    display: none
}

#aside-content .aside-list>.aside-list-item .content>.title {
    -webkit-line-clamp: 3;
    font-weight: 700;
    padding: 2px 0
}

#aside-content .aside-list>.aside-list-item {
    padding: 8px;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-radius: 12px;
    transition: .3s;
    margin: 4px 0;
    cursor: pointer
}

@media screen and (min-width:1300px) {
    #aside-content .aside-list>.aside-list-item:hover {
        transform: scale(1.03)
    }

    #aside-content .aside-list>.aside-list-item:active {
        transform: scale(.97)
    }
}

#aside-content .aside-list>.aside-list-item:hover .thumbnail>img {
    transform: scale(1)
}

#aside-content .aside-list>.aside-list-item:not(:last-child) {
    border-bottom: 0 dashed var(--anzhiyu-background) !important
}

#aside-content .aside-list>.aside-list-item .thumbnail {
    border-radius: 8px;
    border: var(--style-border)
}

#aside-content .aside-list>.aside-list-item:hover {
    background: var(--anzhiyu-blue-main);
    color: var(--anzhiyu-white);
    transition: .3s;
    box-shadow: var(--anzhiyu-shadow-main)
}

#aside-content .aside-list>.aside-list-item:hover a {
    color: var(--anzhiyu-white) !important
}

.card-widget.card-recent-post {
    padding: .4rem .6rem !important
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 2000;
    position: fixed;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 8px;
    width: 4rem;
    background: #eaecf2;
    border: 1px #e3e8f7;
    overflow: hidden
}

.pace-inactive .pace-progress {
    opacity: 0;
    transition: .3s ease-in
}

.pace .pace-progress {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 200px;
    position: absolute;
    z-index: 2000;
    display: block;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 1.5s ease infinite;
    background-size: 200%
}

.pace.pace-inactive {
    opacity: 0;
    transition: .3s;
    top: -8px
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

#aside-content .card-tag-cloud a {
    color: var(--anzhiyu-fontcolor) !important;
    font-size: 1.05rem !important;
    border-radius: 8px;
    display: inline-block;
    margin-right: 4px
}

#aside-content .card-tag-cloud a:hover {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-white) !important;
    box-shadow: var(--anzhiyu-shadow-theme)
}

@media screen and (min-width:1300px) {
    #aside-content .card-tag-cloud a:hover {
        transform: scale(1.03)
    }

    #aside-content .card-tag-cloud a:active {
        transform: scale(.97)
    }
}

#aside-content .card-tag-cloud a sup {
    opacity: .4;
    margin-left: 2px
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden
}

.iconfont {
    font-family: iconfont !important;
    font-size: 3em;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden
}

.icon-zhongbiao::before {
    color: #f7c768
}

span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.5rem;
    line-height: .9;
    font-weight: 700
}

.card-archive-list-count-group {
    display: flex;
    flex-direction: row;
    align-items: baseline
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:last-child {
    width: fit-content;
    margin-left: 4px
}

span.card-archive-list-count {
    width: auto;
    text-align: left;
    font-size: 1.1rem;
    line-height: .9;
    font-weight: 700
}

.card-archive-list-date {
    font-size: 14px;
    opacity: .6
}

li.card-archive-list-item {
    width: 100%;
    flex: 0 0 48%
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
    color: var(--anzhiyu-white);
    background-color: var(--anzhiyu-theme);
    box-shadow: var(--anzhiyu-shadow-theme);
    border-radius: 8px;
    padding-left: .5rem;
    padding-right: .5rem
}

@media screen and (min-width:1300px) {

    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
        transform: scale(1.03)
    }

    #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:active,
    #aside-content .card-categories ul.card-category-list>.card-category-list-item a:active {
        transform: scale(.97)
    }
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a {
    border-radius: 8px;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    border: var(--style-border)
}

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list>.card-category-list-item a span:first-child {
    width: auto;
    flex: inherit
}

#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap
}

.bangumi-active {
    background: #dbecfe !important;
    border-radius: 10px !important
}

a.bangumi-tab:hover {
    text-decoration: none !important
}

.bangumi-button:hover {
    background: #dbecfe !important;
    border-radius: 10px !important
}

a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important
}

.bangumi-button {
    padding: 5px 10px !important
}

a.bangumi-tab {
    padding: 5px 10px !important
}

svg.icon.faa-tada {
    font-size: 1.1em
}

#uploadSource>svg {
    width: 1.19em;
    height: 1.5em
}

#page-header:not(.not-top-img):before {
    background-color: transparent !important
}

#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, .9)
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, .9)
}

div#post {
    background: rgba(255, 255, 255, .9)
}

div#page {
    background: rgba(255, 255, 255, .9)
}

div#archive {
    background: rgba(255, 255, 255, .9)
}

div#tag {
    background: rgba(255, 255, 255, .9)
}

div#category {
    background: rgba(255, 255, 255, .9)
}

[data-theme=dark] #recent-posts>.recent-post-item {
    background: #121212
}

[data-theme=dark] .card-widget {
    background: #121212 !important
}

[data-theme=dark] div#post {
    background: #121212 !important
}

[data-theme=dark] div#tag {
    background: #121212 !important
}

[data-theme=dark] div#archive {
    background: #121212 !important
}

[data-theme=dark] div#page {
    background: #121212 !important
}

[data-theme=dark] div#category {
    background: #121212 !important
}

[data-theme=dark] div#category {
    background: 0 0 !important
}

#footer {
    background: 0 0 !important
}

#page-header {
    background: 0 0 !important
}

#rightside>div>button {
    border-radius: 5px
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all .3s
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all .3s
}

.aplayer.aplayer-fixed {
    z-index: 999999 !important
}

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0 30px 0
}

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, .3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0 0 0
}

body {
    cursor: url(/img/x1.cur), auto
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
a,
button:not(:disabled) {
    cursor: url(/img/x2.cur), auto !important
}

#article-container a:hover {
    text-decoration: none !important
}

#article-container #hpp_talk p img {
    display: inline
}

#error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%)
}

#error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all .3s
}

#error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #49b1f5;
    background-position: center;
    background-size: cover
}

#error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: .5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif
}

#error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em
}

#error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em
}

#error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: .5rem;
    padding: .3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color)
}

#body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll
}

#body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto
}

#body-wrap.error .aside-list .aside-list-item {
    padding: .5rem
}

#body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px
}

#body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--heo-card-bg);
    display: flex
}

#body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: .5rem;
    color: #fff
}

#body-wrap.error .aside-list .aside-list-item .content time {
    display: none
}

#article-container figure.highlight {
    border-radius: 10px
}

body {
    font-family: ZhuZiAYuanJWD
}

::selection {
    color: #fff !important;
    background-color: #23d5ab !important
}

#category-bar {
    border-radius: 11px !important;
    border: 0 !important;
    margin-top: 16px !important
}

.boardsign {
    margin-top: 10px !important;
    margin-bottom: 5px !important
}

#ghbdages {
    margin-top: 0 !important
}

.tabs {
    border: solid #a8a8a8 !important;
    border-width: 0 2px 2px 2px !important
}

[data-theme=dark] #nav .menus_items .menus_item .menus_item_child li a,
[data-theme=dark] #nav .site-page {
    text-shadow: 0 0 2px #b347f1 !important
}

[data-theme=dark] #sidebar #sidebar-menus .menus_items .site-page {
    text-shadow: 0 0 2px #b347f1 !important
}

#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
    box-shadow: 0 0 5px #424444;
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

[data-theme=dark] #aside-content>.card-widget.card-info {
    background: #191919ee
}

#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px
}

#statistic {
    font-size: 18px;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    color: var(--font-color);
    background-color: var(--card-bg)
}

div#statistic .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

div#statistic a {
    text-decoration: none
}

#statistic .content div {
    display: inline-block
}

#statistic div span {
    font-size: 14px;
    line-height: 1.3;
    display: block
}

#statistic div .num {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: .8rem;
    white-space: nowrap
}

.zhichi {
    font-size: 12px
}

#aside-content .card-tag-cloud a {
    line-height: 1.5;
    border-radius: 6px;
    margin: 3px;
    padding: 0 5px
}

.tag-cloud-list a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: 5px
}

#post .post-copyright {
    background-color: #d5d7d9;
    border-radius: 15px
}

#pagination.pagination-post {
    overflow: hidden;
    margin-top: 40px;
    border-radius: 15px !important;
    width: 100%;
    background: #000
}

#category-bar {
    border-radius: 8px !important
}

.layout.hide-aside {
    max-width: 1400px !important
}

.layout {
    max-width: 1400px !important
}

.layout>div:first-child {
    width: 78%
}

#aside-content {
    width: 22%
}

@media screen and (max-width:900px) {
    #aside-content {
        width: 100%
    }
}

#article-container a:not([data-fancybox=gallery]):not(.headerlink):not(.cf-friends-link):hover {
    color: #fff !important;
    background: #3b70fc;
    box-shadow: #fff !important;
    border-radius: .25em;
    text-decoration: none
}

#article-container a:not([data-fancybox=gallery]):not(.headerlink):not(.cf-friends-link):not(.tag-Link) {
    font-weight: 500;
    border-bottom: solid 2px #3b70fc;
    color: #363636;
    padding: 0 .2em;
    text-decoration: none
}

.flink-list-item a {
    text-decoration: none !important;
    border-bottom: none !important;
    background: 0 0 !important;
    box-shadow: none !important
}

#article-container .flink .flink-item-name {
    padding-top: 5px !important
}

#article-container .flink .flink-item-desc {
    padding-top: 0
}

#article-container .flink .flink-list>.flink-list-item {
    border: 1px solid rgb(128 128 128 / 21%);
    background-color: #fff
}

.qwert {
    font-size: 10px
}

#article-container #cf-overshow.cf-show-now p a.cf-article-title:hover,
#page #article-container .fcircle_page .title-h2-a-left a.random-post-start:hover,
#page #article-container .fcircle_page .title-h2-a-right a.random-post-all:hover,
#page .fcircle_page #fcircleContainer .cf-article a.cf-article-title:hover {
    color: #425aef !important
}

.tk-input .el-textarea__inner {
    min-height: 106px !important
}

.table-wrap {
    background-color: #fff
}

.fa-chevron-down:before {
    content: none
}

#sidebar #sidebar-menus .menus_items #bber-talk ul,
li {
    border: 2px solid #20b2aa;
    margin-top: 7px !important;
    border-radius: 9px
}

#sidebar #sidebar-menus .menus_items .menus_item_child {
    padding-left: 7px
}

li.card-archive-list-item {
    border: 0
}

.card-category-list-item {
    border: 0
}

.category-lists ul li:before,
.list-beauty li:before {
    border: 0
}

#nav .menus_items .menus_item .menus_item_child li {
    border: 0 !important;
    margin: 0 !important
}

.contrib-legend .legend li {
    border: 2px solid
}

.fcircle_page .author-content-item .card-content .banner-button-group {
    width: 0;
    height: 0;
    margin: -9999999px
}

#article-container ol li,
#article-container ul li {
    border: 0
}

.toc-item {
    width: 99%
}

#aside-content #card-toc .toc-content li,
#aside-content #card-toc .toc-content ol {
    margin-top: 4px !important;
    margin-bottom: 3px !important
}

#aside-content #card-toc .toc-content .toc-link {
    margin: 0 !important
}

.OwO .OwO-body .OwO-items .OwO-item {
    border: 0
}

.OwO .OwO-body .OwO-bar .OwO-packages li {
    border: 0
}

.OwO .OwO-body .OwO-bar .OwO-packages li:nth-child(1) {
    border-radius: 10px
}

[data-theme=light] .card-widget {
    background-color: #fff !important
}

[data-theme=light] .recent-post-item {
    background-color: #fff !important
}

[data-theme=dark] .card-widget {
    background-color: #121212 !important
}

[data-theme=dark] .recent-post-item {
    background-color: #121212 !important
}

[data-theme=dark] #category-bar {
    background-color: #121212 !important
}

[data-theme=dark] #weather span {
    color: #b0b0b0 !important
}

[data-theme=dark] #weather a {
    color: #b0b0b0 !important
}

#he-plugin-standard[data-v-75e43ed3] {
    width: 100% !important
}

[data-theme=dark] .wv-n-h-label {
    background-color: #b0b0b0 !important
}

.dsrBSL {
    font-family: font12321 !important
}

#nav #site-name {
    text-shadow: rgb(30 30 30 / 0%) 1px 1px 1px !important
}

@media screen and (max-width:600px) {
    .jEbFAF {
        min-height: 99999999px !important
    }
}

#aside-content .card-info #card-info-btn span {
    padding-left: 4px !important
}

.flink button {
    display: flex;
    margin: 5px auto;
    color: var(--global-bg);
    padding: 15px;
    border-radius: 12px;
    background: #96c9a5;
    align-items: center
}

i.fa-solid.fa-circle-plus {
    margin-right: 4px
}

.flink button:hover {
    background: #c93f59;
    color: #fff
}

.aplayer {
    background: 0 0 !important
}

.aplayer.aplayer-fixed .aplayer-list {
    max-width: 200px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 86px !important;
    margin-left: 82px !important
}

.aplayer .aplayer-list ol li {
    font-size: 1px;
    border: 1px solid #fff !important;
    font-family: font12321
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #666 !important
}

.aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background-color: #6cf !important
}

.aplayer.aplayer-fixed .aplayer-body {
    max-width: 286px !important;
    bottom: 10px !important;
    left: 10px !important
}

.aplayer-narrow .aplayer-miniswitcher {
    position: fixed !important;
    left: 10px !important;
    border-radius: 8px !important;
    bottom: 30px !important;
    height: 26px !important
}

.aplayer .aplayer-pic {
    border-radius: 8px
}

.aplayer.aplayer-fixed .aplayer-body {
    border-radius: 8px !important;
    padding: 0 !important;
    border: 2px solid #ed709b
}

.aplayer.aplayer-fixed .aplayer-info {
    border: 0 !important
}

.aplayer .aplayer-miniswitcher {
    top: auto !important
}

.aplayer svg {
    margin-left: 1px !important
}

.aplayer .aplayer-miniswitcher {
    left: 280px;
    border-radius: 8px !important;
    bottom: 20px !important;
    height: 26px !important
}

.aplayer-music {
    font-family: font12321
}

.aplayer.aplayer-narrow .aplayer-body,
.aplayer.aplayer-narrow .aplayer-pic {
    width: 0 !important;
    height: 0 !important
}

.aplayer .aplayer-pic:hover .aplayer-button {
    width: 0 !important;
    height: 0 !important
}

.aplayer .aplayer-pic .aplayer-play {
    width: 0 !important;
    height: 0 !important
}

.aplayer.aplayer-fixed .aplayer-list {
    border: #ed709b solid 2px !important
}

.aplayer .aplayer-list.aplayer-list-hide {
    border: 0 !important
}

div#poem_sentence {
    font-size: 16px !important;
    font-family: SmileySans !important
}

.aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: 12px !important
}

[data-theme=dark] .aplayer.aplayer-fixed .aplayer-list {
    max-width: 200px;
    background-color: #121212;
    border-radius: 8px
}

[data-theme=dark] .aplayer .aplayer-list ol::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #f0f0f0 !important
}

[data-theme=dark].aplayer .aplayer-list ol::-webkit-scrollbar-thumb:hover {
    border-radius: 3px;
    background-color: #66ccffb4 !important
}

[data-theme=dark] .aplayer .aplayer-list ol li {
    border: 1px solid #121212 !important;
    background-color: #121212;
    font-family: font12321
}

[data-theme=dark] .aplayer .aplayer-list ol li.aplayer-list-light {
    background-color: #222 !important
}

[data-theme=dark] .aplayer .aplayer-list ol li:hover {
    background-color: #222 !important
}

[data-theme=dark] .aplayer.aplayer-fixed .aplayer-info {
    background-color: #121212 !important;
    border-radius: 8px
}

[data-theme=dark] .aplayer .aplayer-pic {
    filter: blur(0) brightness(.8)
}

[data-theme=dark] .aplayer.aplayer-fixed .aplayer-body {
    border-radius: 8px !important;
    background-color: #121212 !important;
    border: #222 2px solid
}

[data-theme=dark] .aplayer .aplayer-icon {
    background-color: #121212;
    border-radius: 6px
}

[data-theme=dark] .aplayer.aplayer-fixed .aplayer-list {
    border: #222 solid 2px !important
}

[data-theme=dark] .aplayer svg::after {
    color: #dbecfe !important
}

[data-theme=dark] .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path:hover {
    fill: #dbecfe !important
}

[data-theme=dark] .aplayer .aplayer-list.aplayer-list-hide {
    width: 0 !important;
    height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important
}

.aplayer.no-destroy.no-reload.aplayer-withlist.aplayer-fixed.aplayer-narrow .aplayer-body {
    border: 0
}

.post-reward .reward-button .reward-main .reward-all .reward-item {
    border: 0
}

[data-theme=dark] .dsrBSL {
    color: #b0b0b0
}

.console_daiyu_font,
[data-theme=dark] .console_daiyu {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 430px;
    background-color: #121212;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    margin-top: 45px;
    max-width: 670px;
    border: #00bfff solid 2px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 999999999999999999
}

[data-theme=dark] .console_daiyu_font_switch {
    width: 47%;
    border-radius: 8px;
    height: 59px;
    background-color: #262626
}

[data-theme=dark] .console_daiyu_font_switch:hover {
    width: 47%;
    border-radius: 8px;
    height: 59px;
    background-color: #363636
}

[data-theme=dark] .console_daiyu {
    padding-top: 50px;
    padding-bottom: 50px
}

[data-theme=light] .console_daiyu_font {
    background-color: #fff;
    border: 2px solid #db7093;
    color: #000
}

[data-theme=dark] #qsdf {
    margin-top: 5px;
    border: #00bfff solid 2px;
    border-radius: 12px;
    width: 100%
}

[data-theme=dark] .console_daiyu_font button {
    border: 2px solid #00bfff;
    height: 25px;
    border-radius: 8px;
    color: #fff;
    background-color: #363636
}

[data-theme=dark] .console_daiyu_font button:hover {
    background-color: #db7093;
    color: #fff
}

@media screen and (max-width:900px) {
    button#mobile-toc-button {
        position: absolute;
        right: 0;
        top: -40px
    }
}

#nav #search-button {
    display: inline;
    padding: 0 0 0 3px !important
}

.boardsign {
    display: none
}

.article-sort-item-img {
    border-radius: 8px
}

.article-sort-item.year {
    background: 0 0;
    border: 0
}

.article-sort-item {
    background-color: #fff;
    border-radius: 8px
}

#bber-talk ul,
li {
    border: 0
}